name: Deploy Github Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Python
        uses: actions/setup-python@v6
      - name: Checkout pages repository
        uses: actions/checkout@v6
        with:
          ref: main
          path: main
      - name: Generate static files
        run: |
          cd main/
          ./deploy.sh --deploy
          cd ../
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'main/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
